.edge-weight-div {
    position: absolute; 
    width: 50px;
    height: 30px;
    border: solid 1px #858383;
    border-radius: 20%;
    color: #000000de;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e7e7e7;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.edge-weight-div:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.edge-weight-value {
    width: 100%;
    z-index: 1;
}
.edge-weight-value input {    
    width: 100%;
    background-color: transparent;
}

.container {
    position: absolute;
    width: 210%;
    height: 350%;
    border-radius: 50%;
    border: dotted #ccc 2px;
}

.container-item {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    border: solid silver 1px;
    opacity: 0.4;
}

.container-item:hover {
    opacity: 1;
    transform: scale(1.2, 1.2);  
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.delete-edge {
    top: 0;
    left: 0;
}

.change-weight {
    top: 0;
    transform: translateX(-100%);
    left: 100%;
}

.change-weight:hover {
    transform: translateX(-100%);
}

.change-direction {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.change-direction:hover {
    transform: translateX(-50%);
}