<div class="container" *ngIf="assignment$ | async as assignment; else noAssignment">
    <div class="assignment box">
        <h2>{{ assignment.title }}</h2>   
        <p>
            {{ assignment.text }}
        </p>
    </div>
    <div class="evaluation box">
        <h2>Bewertung der Lösung</h2>
        <button
            *ngIf="submissionJSON !== ''" 
            class="copy-button"
            title="Prompt kopieren" 
            (click)="onCopyPromptClick()"
        >
            @if(!promptCopied) {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                </svg>
            }
            @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                </svg>
            }
            </button>
        
        
        <hr *ngIf="submissionJSON !== ''">

        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi modi laudantium voluptate quae amet tenetur non eligendi, facilis aperiam quisquam consectetur adipisci repudiandae nulla asperiores voluptatem error harum praesentium mollitia.</p> -->
        <p>{{ submissionJSON }}</p>
    </div>
    <div class="solution box">
        @if (assignment.dataStructure === 'graph') {
            <app-graph />
        }
        @else if (assignment.dataStructure === 'tree') {
            <app-binary-search-tree />
        }
        @else {
            <p>No Structure</p>
        }
    </div>
    <div class="controls box">
        <button
        type="button"
        (click)="onSubmitButtonClick()"
        > Abgeben </button>
    </div>
</div>

<ng-template #noAssignment>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; background-color: rgb(248, 242, 233);">
        <h2>Keine Aufgabe vorhanden</h2>
        <a 
            routerLink="/assignments">
            Zurück zur Liste der Beispiel-Aufgaben
        </a>
    </div>
</ng-template>