<div class="container" *ngIf="assignment$ | async as assignment">
    <div class="assignment box">
        <h2>{{ assignment.title }}</h2>   
        <p>
            {{ assignment.text }}
        </p>
    </div>
    <div class="evaluation box">
        <h2>Bewertung der Lösung</h2>   
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi modi laudantium voluptate quae amet tenetur non eligendi, facilis aperiam quisquam consectetur adipisci repudiandae nulla asperiores voluptatem error harum praesentium mollitia.</p>
    </div>
    <div class="solution box">
        @if (assignment.dataStructure === 'graph') {
            <app-graph />
        }
        @else if (assignment.dataStructure === 'tree') {
            <app-binary-search-tree />
        }
        @else {
            <p>No Structure</p>
        }
    </div>
    <div class="controls box">
        
    </div>
</div>