<div class="container">
    <div class="assignment box">
        <h2>Aufgabentitel</h2>   
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum debitis voluptate natus minima officiis placeat expedita amet corporis mollitia iste numquam aspernatur repellendus nulla distinctio blanditiis, exercitationem, ex iure?
        </p>
    </div>
    <div class="evaluation box">
        <h2>Bewertung der Lösung</h2>   
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi modi laudantium voluptate quae amet tenetur non eligendi, facilis aperiam quisquam consectetur adipisci repudiandae nulla asperiores voluptatem error harum praesentium mollitia.</p>
    </div>
    <div class="solution box">
        <router-outlet></router-outlet>
    </div>
    <div class="controls box">

    </div>
</div>