<div class="container">
    <div class="assignment" *ngFor="let assignment of assignments$ | async">
        <div class="title">
            <strong>{{ assignment.title }}</strong>
            <button (click)="onBtnClick(assignment.id)"> öffnen </button>
        </div>
        <div class="details">
            <p>Data Structure: {{ assignment.dataStructure }}</p>
            @if (assignment.dataStructure === 'graph') {
                <p>
                    Node Config( 
                    weight: {{ assignment.graphConfiguration?.nodeWeight }}
                    visited: {{ assignment.graphConfiguration?.nodeVisited }}
                    )
                </p>
                <p>
                    Edge Config( 
                    weight: {{ assignment.graphConfiguration?.edgeWeight }}
                    directed: {{ assignment.graphConfiguration?.edgeDirected }}
                    )
                </p>
            }
        </div>
    </div>
</div>