<div 
    class="node-div"     
    cdkDrag
    cdkDragBoundary=".workspace-boundary"  
    [cdkDragFreeDragPosition]="node.position"
    (cdkDragStarted)="nodeOnDragStart($event)" 
    (cdkDragMoved)="nodeOnDragMove($event)"
    (cdkDragEnded)="nodeOnDragEnd($event)"
    (mouseenter)="onFieldHover($event)"
    (click)="onClick($event)"
    (dblclick)="onNodeDoubleClick()"
    [style.zIndex]="nodeZIndex"
>


    <!-- ################### -->
    <!-- Inputs to edit node properties -->
    <div 
        class="node-properties" 
        [ngStyle]="{ 
            'justify-content': 
                graphConfiguration.nodes.weight && graphConfiguration.nodes.visited
                    ? 'end'
                    : graphConfiguration.nodes.weight || graphConfiguration.nodes.visited
                        ? 'end' : 'center',
            'gap': graphConfiguration.nodes.weight && graphConfiguration.nodes.visited
                    ? 0
                    : graphConfiguration.nodes.weight || graphConfiguration.nodes.visited
                        ? '.7rem' : 0
        }"
    >


        <!-- ################### -->
        <!-- Node value -->
        <div class="node-value form" (mouseenter)="onFieldHover($event)" >
        <form (submit)="editNodeValue=false" [ngStyle]="{display: editNodeValue ? 'block' : 'none'}">
            <input #nodeValueInput type="text" [(ngModel)]="node.value" (change)="updateNodeValue($event)" name="value" placeholder="Wert eingeben"
            (blur)="editNodeValue=false"
            />
        </form>
        </div>
        <div [ngStyle]="{display: !editNodeValue ? 'block' : 'none'}" class="node-value display" (mouseenter)="onFieldHover($event)" >
        <span style="display: flex; justify-content: center;">{{ node.value }}</span>
        </div>
        <!-- End - Input -->
        <!-- ################### -->


        <!-- Display if the node is weighted --> 
        @if (graphConfiguration.nodes.weight) {

            <!-- ################### -->
            <!-- Node weight -->
            <div class="node-weight form" (mouseenter)="onFieldHover($event)">
                <form (submit)="editNodeWeight=false" [ngStyle]="{display: editNodeWeight ? 'block' : 'none'}">
                <input #nodeWeightInput  type="number" [(ngModel)]="node.weight.value" (change)="updateNodeWeight($event)" name="weight" placeholder="Gewicht eingeben"
                    (blur)="editNodeWeight=false"
                />
                </form>
            </div>
            <div 
                [ngStyle]="{display: !editNodeWeight ? 'block' : 'none'}" 
                class="node-weight display" 
                (mouseenter)="onFieldHover($event)" 
                (dblclick)="onNodeWeightDoubleClick($event)"
            >
                <span style="display: flex; justify-content: center;">Gewicht: {{ node.weight.value }}</span>
            </div>
            <!-- End - Input -->
            <!-- ################### -->
        }

        <!-- Display if the node can be visited --> 
        @if (graphConfiguration.nodes.visited) {

            <!-- ################### -->
            <div 
                class="node-visited display" 
                (mouseenter)="onFieldHover($event)" 
                (dblclick)="onNodeVisitedDoubleClick($event)"
            >
                @if (node.visited.value) {
                <span style="display: flex; justify-content: center;">Besucht</span>
                }
                @else {
                <span style="display: flex; justify-content: center;">Nicht Besucht</span>
                }
            </div>
            <!-- End - Input -->
            <!-- ################### -->
        }

    </div>
    <!-- End - Node Properties -->
    <!-- ################### -->

    
    <!-- ################### -->
    <!-- Toolset -->
    <div [ngStyle]="{display: displayNodeToolset ? 'block' : 'none'}" (mouseleave)="onFieldLeave($event)" class="container">  

        <!-- Display if the edge is directed --> 
        @if (graphConfiguration.edges.directed) {

        <!-- ################### -->
        <!-- Generate new node connected to current node -->
        <div 
            [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
            class="new-node-incoming container-item" 
            title="Eingehende Kante - Einen neuen Knoten erzeugen und verbinden" 
            (click)="onNewNodeClick($event, true)" 
        >   
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <!-- Plus Symbol Path -->
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            
                <!-- Caret Path -->
                <path fill-rule="evenodd" d="M7.5 15l3.646-3.646a.5.5 0 0 0-.707-.707L8 13.293l-2.439-2.939a.5.5 0 1 0-.707.707L7.5 15z"/>
            </svg>
        </div>
        <div 
            [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
            class="new-node-outgoing container-item"
            title="Ausgehende Kante - Einen neuen Knoten erzeugen und verbinden" 
            (click)="onNewNodeClick($event, false)"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <!-- Plus Symbol Path -->
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            
                 <!-- Caret Path -->
                <path fill-rule="evenodd" d="M7.5 0l3.646 3.646a.5.5 0 0 1-.707.707L8 1.707l-2.439 2.939a.5.5 0 1 1-.707-.707L7.5 0z"/>
            </svg>
        </div>
        <!-- End - Generate nodes -->
        <!-- ################### -->

        <!-- ################### -->
        <!-- Generate new edge to connect two existing nodes -->
        <div
            [ngStyle]="{display: (newEdge.started && newEdge.node2 !== null) ? 'none' : 'block'}"
            class="new-edge-incoming container-item" 
            title="Eingehende Kante - Mit einem Knoten verbinden"
            (click)="onConnectNodeDirectedClick($event, true)"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
            </svg>
        </div>

        <div 
            [ngStyle]="{display: (newEdge.started && newEdge.node1 !== null) ? 'none' : 'block'}"
            class="new-edge-outgoing container-item"
            title="Ausgehende Kante - Mit einem Knoten verbinden"
            (click)="onConnectNodeDirectedClick($event, false)"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
            </svg>
        </div>
        <!-- End - Connect nodes -->
        <!-- ################### -->

        }


        @else { <!-- Display if the edge is undirected --> 
            <!-- ################### -->
            <!-- Generate new node connected to current node -->
            <div 
                [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
                class="new-node container-item" 
                title="Einen neuen Knoten erzeugen und verbinden" 
                (click)="onNewNodeClick($event)" 
            >   
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>
            </div>
            <div 
                class="new-edge container-item"
                title="Mit einem Knoten verbinden"
                (click)="onConnectNodeUndirectedClick($event)"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                </svg>
            </div>
        }
        
        <!-- ################### -->
        <!-- Extra functionalities -->
        
        @if (graphConfiguration.nodes.weight) {
        <div 
        [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
        class="edit-weight container-item" 
        title="Das Gewicht ändern" 
        (click)="activateEditNodeWeightInput()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exposure" viewBox="0 0 16 16">
                <path d="M8.5 4a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0V7h2a.5.5 0 0 0 0-1h-2zm-3 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"/>
            </svg>
        </div>
        }

        @if (graphConfiguration.nodes.visited) {
            @if(!node.visited.value) {
                <div 
                [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
                class="edit-visited container-item" 
                title="Als besucht markieren" 
                (click)="updateNodeVisited()"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                    </svg>
                </div>
            } @else {
                <div 
                [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
                class="edit-visited container-item" 
                title="Als nicht besucht markieren" 
                (click)="updateNodeVisited()"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>    
                </div>
            }
        }

        <div 
            [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
            class="delete container-item" 
            title="Knoten löschen" 
            (click)="onDeleteNodeClick($event)"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
        </div>

        <div 
            [ngStyle]="{display: newEdge.started ? 'none' : 'block'}"
            class="edit-value container-item" 
            title="Den Wert ändern" 
            (click)="activateEditNodeValueInput()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
            </svg>
        </div>
        <!-- End - Extra functionalities -->
        <!-- ################### -->

    </div>

    <!-- End - Toolset -->
    <!-- ################### -->

</div>