@if (edge.node1 === edge.node2) {
    <svg:path
        [attr.d]="calculateSelfLoopPath(edge)"
        style="stroke:rgb(129, 129, 129);stroke-width:2; fill: none;"
    /> 

    @if (edge.directed) {
        <svg:polygon 
        [attr.points]="calculateArrowPoints(edge.node1, edge.node2)" 
        fill="black" 
    />
}
}

@else {
    <!-- Display if the edge is directed --> 
    <!-- Edge - Line -->
    @if (edge.directed) {
        <svg:line 
            [attr.x1]="calculateEdgeStart(edge.node1, edge.node2).x" 
            [attr.y1]="calculateEdgeStart(edge.node1, edge.node2).y" 
            [attr.x2]="calculateEdgeEnd(edge.node1, edge.node2).x" 
            [attr.y2]="calculateEdgeEnd(edge.node1, edge.node2).y"
            style="stroke:rgb(129, 129, 129);stroke-width:2" 
        />

        <!-- Edge - Arrow head -->
        <svg:polygon 
            [attr.points]="calculateArrowPoints(edge.node1, edge.node2)" 
            fill="black" 
        />
    }
    @else {
        <!-- Display if the edge is undirected --> 
        <!-- Edge - Line -->
        <svg:line 
            *ngIf="!edge.directed"
            [attr.x1]="edge.node1.center.x" 
            [attr.y1]="edge.node1.center.y" 
            [attr.x2]="edge.node2.center.x" 
            [attr.y2]="edge.node2.center.y"
            style="stroke:rgb(129, 129, 129);stroke-width:2" 
        />
    }
}

